.navbar {
    background-color: rgb(14, 148, 231);
}

.navbar a {
    color: white !important;
    text-decoration: none !important;
}

.navbar-brand img {
    filter: brightness(50%) contrast(1.5);
}

.sidebar-left {
    flex-direction: column;


}


#sidebar {
    background-color: white;
    /* height: 100vh; */
    position: fixed;
    top: 0;
    left: 0;
    margin-top: 100px;
}

#sidebar .nav-item {
    margin-bottom: 15px;
}

#sidebar .nav-link {
    color: #333;
    font-size: 16px;
    padding: 12px 20px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: all 0.3s ease;
    font-weight: bold;

}

#sidebar .nav-link:hover {
    background-color: #007bff;
    color: white;
}

#sidebar .nav-link svg {
    margin-right: 10px;
    width: 30px;
    height: 30px;
    font-weight: bold;

}


.nav-link.active {
    background-color: #1b7bf0;
    color: white;
    font-weight: bold;
    border-radius: 5px;
}

#sidebar .nav-item a:last-child {
    margin-bottom: 0;
}